/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

h1.header{
  font-size: 3.2em;
}

#map{
  margin-top: 1%;
  width: 100%;
  height: 400px;
}

#btnCalcRuta{
  width: 100% !important;
  margin-top: 2%;
}

.bt-crearRuta{
  padding: 0 !important;
}

.background-bottom{
  background-position: bottom !important;
}

.contactenos li {
    margin-top: 4%;
}

.marcas{
  margin-top: 4%;
}

.marcas img.responsive-img{
  width: 70% !important;
}

.marcas .col{
  margin-top: 2%;
}
